{% raw %}{% extends "base.html" %}

{% block navbar %}
    {% include "partials/_navbar.html" %}
{% endblock navbar %}

{% block content %}

<div class="row">
    <div class="col-sm-0 col-md-3 col-lg-3"></div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        {% if valid_link %}
            <h1>Account Activated</h1>
            <p class="alert alert-success">Your account has been activated.  You may go ahead and log in now.</p>

            <p><a href="{% url 'accounts:login' %}" class="btn btn-default">Log in</a></p>
        {% else %}
            <h1>Invalid Link</h1>
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> The provided link is invalid.
            </div>
            <h4>Enter Your Email to Request Another</h4>
            <form action="" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" placeholder="email@example.com" class="form-control"/>
                </div>
                <input type="submit" name="submit" value="Request New Link" class="btn btn-primary"/>
            </form>
        {% endif %}
    </div><!-- col -->
    <div class="col-sm-0 col-md-3 col-lg-3"></div>
</div><!-- row -->

{% endblock %}{% endraw %}
